@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Tangerine&family=Quintessential&display=swap');
/*Anular el estilo genérico*/

*{
	margin: 0px;
	padding: 0px;
}


div{
	font-family: 'Quintessential', cursive;
}
div div{
	font-family: 'Tangerine', cursive;
}
.text_A{
	font-family: 'Tangerine', cursive;
}
.text_B{

	font-family: 'Quintessential', cursive;
}
.text_C{
	font-family: 'Open Sans', sans-serif;
}
body{
	background-image: url(../imagenes/fondo/fondo.jpg);
}
#container{
	width: 100%;
	border: 1px black;
}

footer{

	position:relative;
	bottom: 0;
	color: grey !important;
}

header{
	background-color: #1e1e1e;
	min-height: 40px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: white;
	padding: 1%;
}
nav{
	float: left;
	background-color: #1e1e1e;
	width: 100%;
}

nav ul li{
	float: left;
	list-style: none;
	padding: 1%;
	text-decoration: none;
}

.dropdown-menu>li>a:hover {
	text-decoration: none;
	background-color: #2f2f2f !important;
}
.selector{
	width: 15%;
	color: white;
}
#buscador{
	width: 40%;
}
#input_buscador{
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom-color: white;
	background-color: #1e1e1e;
	color: white;
	font-family: arial black;
}
.saltoLinea{
	clear: both;
	padding: 1%;
	width: 20%;
}
a{
	text-decoration: none;
	color: white !important;
}
.dropdown-menu{
	background-color: #717171 !important;
}
.separacion_Inicio{
	height: 200px;
}
.titulo_contenido{
	text-align: center;
	font-size: 40px;
	color: white;
}
.contenido_contenido{
	color: white;
	font-size: 20px;
	text-align: center;
	width: 100%;
}
.pie_pagina{
	position: relative;
	width: 100%;
	color: white;
}
.boton_inicio{
	text-decoration: none;
	display: block;
	width: 40%;
	margin: 20px auto;
	padding: 10px;
	font-weight: 600;
	font-size: 20px;
	background-color: #1e1e1e;
	border-radius: 6px;
	border: 2px solid #a1a1a1;
}
.boton_inicio:hover{
	color: #1e1e1e !important;
	background-color: #a1a1a1;
	border-radius: 6px;
	border: 2px solid #1e1e1e;
	text-decoration: none;
	-webkit-transition: color 500ms;
	-moz-transition: color 500ms;
	-o-transition: color 500ms;
	-ms-transition: color 500ms;
	transition: color 500ms;
	-webkit-transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	-o-transition: background-color 500ms;
	-ms-transition: background-color 500ms;
	transition: background-color 500ms;
}

.mapa_int{
	border-style: none;
	border-width: 0px;
	width: 100%;
	height: 561px;
	max-width: 1134px;
	filter: grayscale(100%);
}
.mapa_int:hover {
	filter: grayscale(0%);
	-webkit-transition: grayscale 500ms;
	-moz-transition: grayscale 500ms;
	-o-transition: grayscale 500ms;
	-ms-transition: grayscale 500ms;
	transition: grayscale 500ms;
}

.icono_pj{

	filter: brightness(0.5)blur(3px);
	max-width: 25%;
	margin: 1%; 
}

.icono_pj:hover {
	filter: brightness(1)blur(0)drop-shadow(0px 0px 10px white);
}

.a_Iconos{
	width: fit-content;
	height: fit-content;
	text-decoration: none !important;
}

.iconos_facciones{
	max-width:5%;
}

.personaje_facciones{
	max-width: 40%;
	max-height: 680px;
	vertical-align: none;
}
.datos_pj{
	width: 50%;
	height: 680px;
	position: static;
	vertical-align: middle;
}
.flecha_dch{
	max-width: 3%;
	position: absolute;
	right: 8%;
	z-index: 1;
	top: 16%;
	opacity: 0.4;
}
.flecha_dch:hover{
	opacity: 1;
}
.flecha_izq{
	max-width: 3%;
	position: absolute;
	left: 8%;
	z-index: 1;
	top: 16%;
	opacity: 0.4;
}
.flecha_izq:hover {
	opacity: 1;
}
.iconos_elemento{
	height: 100px;
}

#carrusel {
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.carrusel {
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.carrusel>div {
	float: none;
	text-align: center;
	margin: 10px;
	max-width: 103px;
	display: inline-block;
}

.carrusel img {
	cursor:pointer;
}

.icono_libros{
	float: left;
	margin: 10px;
	max-width: 245px;
}
.libros_cita{
	color: white;
	font-size: 20px;
	margin-top: 20px;
	font-style: italic;
	font-weight: bolder;
}
.libros_justificacion{
	font-size: 16px;
	color: #d9d4d9;
	text-align: left;
	margin-left: 25%;
}

.historia_titulo{
	font-size: 30px;
	font-family: 'Quintessential', cursive;
	color: white;
}

.historia_parrafo{
	font-size: 16px;
	color: #d9d4d9;
	text-align: left;
	padding: 2% 5%;	
	font-family: 'Open Sans', sans-serif;
}
.datos_pj{
	color: white;
	font-size: 30px;
	text-align: left;
	padding: 15px;
}
.datos_pj div span{
	font-family: Arial;
	font-size: 15px;
	color: grey;
	font-weight: bold;
}
.encabezado{
	font-family: 'Quintessential', cursive;
}
.mapa_estilo{
	filter: grayscale(1);
}
.mapa_estilo:hover{
	filter: grayscale(0);
}
.a_mapa{
	filter: grayscale(1);
}
.a_mapa:hover{
	filter: grayscale(0);
}


/*---------------Seccion de zoom imagen escenarios------------*/

.modal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding: 5%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
	margin: auto;
	display: block;
	max-height: -webkit-fill-available;
	max-width: -webkit-fill-available;
}
#caption, #caption_pj{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: white;
	padding: 10px 0;
	height: 150px;
}
 .modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}
@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}
.close {
	position: absolute;
	top: 15px !important;
	right: 35px !important;
	color: white !important;
	font-size: 40px !important;
	font-weight: bold !important;
	font-family: arial !important;
	transition: 0.3s !important;
	text-decoration: none !important;
	text-shadow: 0 1px 0 #fff !important;
	opacity: 1 !important;
}
.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
/*---------------Fin seccion de zoom imagen escenarios------------*/

.mapa_objs{
	display: none;font-size: 20px;color: white;
}


/* Cambio de elementos en versión móvil*/
@media screen and (max-width:800px) {
	nav{
		width: 100%;
		padding: 2% 5px;
	}
	.modal{
		padding-top: 25%;
	}
	.modal-content {
		width: 100%;
	}
	.selector{
		width: 100%;
	}
	#buscador{
		width: 100%;
	}
	.dropdown-menu{
		position: relative !important;
		width: 100%;
	}
	.separacion_Inicio{
		height: 100px;
	}
	.boton_inicio{
		margin-top: 3%;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
	}
	.icono_pj{

		filter: grayscale(0%);
		max-width: 60%;
		margin: 5px;	 
	}
	.iconos_facciones{
		max-width:15%;
	}
	.personaje_facciones{
		width: 70%;
		max-height: none;
		max-width: none;
	}
	.datos_pj{
		width: 80%;
		margin-top: 20px;
	}
	.iconos_elemento{
		height: 50px;
	}
	.flecha_izq {
		top: 45%;
		opacity: 1;
	}
	.flecha_dch {
		top: 45%;
		opacity: 1;
	}
	.icono_libros{
		float: none;
	}
	.libros_cita{
		text-align: center;
	}
	.libros_justificacion{		
		text-align: center;
		margin-left: auto;
	}
	.mapa_estilo{
		display: none;
	}
	#mapa_nav{
		display: none;
	}
	#btn_mapa{
		display: none;
	}
}
