.fondo{
	background-attachment: fixed; 
	background-color: #645862;
	text-align: center;width: 100%;
	float: left;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

